section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.summaryButton {
  background: rgb(173, 140, 77);
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.summaryButton:hover {
  background: #826630;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}