.imageGallery {
    padding: 0 20px 20px 20px;
}

.spinnerIcon {
    color: var(--index-main-color);
    font-size: 64px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
    color: var(--index-main-color);
    margin: 12px;
}

.loadingContainer {
  padding: 18px 0;
}