/* DEFAULTS */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cbb181;
}

/* DEEPLY NESTED ELEMENTS */

.react-photo-album--photo {
  cursor: pointer;
}

.react-photo-album--photo:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
